.main{
  text-align: center ;
  justify-content: center;
  display: flex;
}
.sub-main{
  display: flex;
  justify-content: center;
  height: 25%;
  width:35%;
  box-shadow: 10px 12px 14px 16px rgb(207, 207, 207);
}