
.container{
  display:flex;
  flex-direction: column;
  gap: 5px;
  padding:1rem;

}
 .container table{
  border-collapse:collapse;
  width:100%;
  
}
.container th, td{
  border:1px solid black;
  text-align: left;
  padding:8px;
  font-size:25px;
}
.container th{
  background-color: aquamarine;
}
.container td{
  background-color: rgb(170, 233, 212);
}

.container form{
  display:flex;
  gap:5px;
  
  

}
.container form td:last child{
  display:flex;
  justify-content: center;
  
}

  

.container input{
width: 60%;
   }